body {
  margin:0 auto;
  padding:0;
position: relative;
padding-bottom: 3em;
min-height: 100vh;
text-align: left;
font-family: 'Open Sans', sans-serif;
/* width: 97.5vw; */
/* display:flex; */
/* justify-content: center; */
background: linear-gradient(
        to right,
        #296CD9,
        #6DD5FA,
        #FFFFFF)
}
#backgroundImage {
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background: linear-gradient(
    to right,
    #296CD9,
    #6DD5FA,
    #FFFFFF)


}


#pageTitle {
  font-size: 50%;
  color: white;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  display: inline;
  margin: 0 auto;
}
.header {
  display:flex;
  justify-content:space-between;
  top: 0;
  padding: 10px;
width: 100%;
/* margin: 0 auto; */
padding: 0;
  background: #296CD9;
  border: .5px solid black !important;
}
#star1 {
  display: inline;
  width: 8%;
  height: 8%;
}
#star2 {
  display: inline;
  width: 8%;
  height: 8%;
}
.searchDiv{
  display:flex;
}
.statsTable {
  flex: 2 2 20em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.category {
  font-family: 'Overpass', sans-serif;
  box-sizing: border-box;
  /* display: flex; */
  /* flex-grow: 1; */
  /* flex-shrink: 1; */
  width: 100%;
  padding: 0.8em 1.2em;
  overflow: hidden;
  list-style: none;
  border: solid white;
  background: fade(slategrey,20%);
}
.stat {
  font-family: 'Audiowide', cursive;
  box-sizing: border-box;
  /* display: flex; */
  /* flex-grow: 1; */
  /* flex-shrink: 1; */
  width: 100%;
  padding: 0.8em 1.2em;
  overflow: hidden;
  list-style: none;
  border: solid white;
  background: fade(slategrey,20%);
  /* > h1, > h2, > h3, > h4, > h5, > h6 { margin: 0; } */
}
#playerResultTitle {
font-size: 50px;
font-family: 'Josefin Sans', sans-serif;
}
#yearResult{
  color: white;
}
.playerImage {
  background-color: white;
  width:300px;
  height:300px;
  object-fit:cover;
}

#searchButton {
  background-color: #D97F3F; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* display: flex; */
}
#searchBar {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  /* float: left; */
  background: #F1F1F1;
  /* top: 50%;
  left: 50%;
  position: absolute; */
  height: 100%;
  /* -moz-box-sizing: border-box; */
  box-sizing: border-box;
  width: 70%;
  /* font-family: inherit;
  font-size: inherit;
  /* display: flex; */
}
/* .statsTable {
  float: left;
} */
footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3em;
}